.main-content {
	width: 980px;
	margin-top: 10px;
	margin: 0 auto;
	height: auto;
}

.left-content {
	width: 700px;
	height: inherit;
	float: left;
}

.right-content {
	width: 280px;
	height: inherit;
	float: right;
}

.blank-block {
	width: 1000%;
	height: 20px;
}

.blog {
	width: 640px;
	margin-right: 10px;
	margin-bottom: 15px;
	height: 350px;
	background: #FFFFFF;
	line-height: 150%;
	padding: 20px;
	position: relative;
}

.blog-tags {
	position: absolute;
	width: 60px;
	height: 100px;
	left: -60px;
}

.blog-tags div{
	width: inherit;
	height: 40px;
	text-align: center;
	padding-top: 20px;
	font-size: 25px;
	color: #ffffff;
}

.blog-tags .uptag {
	background: #28004D;
}

.blog-tags .downtag {
	background: #9F35FF;
}	
	
.blog-content h1 {
	font-size: 16px;
	color: #a660b7;
	margin: 0;
}	

.blog-content h2 {
	font-size: 12px;
	color: #666;
	font-weight: bold;
	margin: 0;
	margin-bottom: 5px;
}

.blog-content p {
	font-size: 13px;
	line-height: 150%;
}

.page-turn {
	text-align: center;
	margin: 0;
	margin-top: 30px;
	margin-bottom: 100px;
}

.page-turn a {
	padding: 10px 16px ;
	background-color: #FFFFFF;
	text-decoration: none;
	color: #000000;
	line-height: 30px;
}

.page-turn a:hover{
	font-weight: bold;
	text-decoration:underline
}

.page-turn .current-page {
	background-color: #9F35FF;
	color: #FFFFFF;
}

.search {
	position: relative;
	width: inherit;
	height: 83px;
	background: #FFFFFF;
	overflow: hidden;
}

.search input {
	z-index: 3;
	position: absolute;
	margin-top: 20px;
	margin-left: 20px;
	width: 185px;
	line-height: 43px;
	border: 1px solid #DDDDDD;
	display: inline-block;
	height: 43px;
	padding-left: 50px;
	font-size:14px;
	outline: none;	
}

.search .search-icon {
	z-index: 4;
	position: absolute;
	left: 25px;
	top: 25px;
}

.search input:focus{
	border: 1px solid #343434;
}

.search a{
	z-index: 4;
	bottom: 17px;
	font-family: "Microsoft YaHei";
	position: absolute;
	right: 24px;
	float: left;
	text-align: center;
	display: inline-block;
	font-size: 26px;
	width: 54px;
	height: 43px;
	background-color: #DDDDDD;
	border: 1px solid #DDDDDD;
	color: #FFFFFF;
}

/*.search .divide {
	z-index: 1;
	height: 43px;
	width: 1px;	
}*/

.catalog {
	width: inherit;
	height: 203px;
	margin-top: 10px;
	background: #FFFFFF;
}

.catalog-item {
	width: inherit;
	height: 50px;
	border-top: 1px solid #DDDDDD;
}

.catalog-item p {
	padding-top: 15px;
	padding-left: 10px;
}

.catalog-item .selected {
	width: inherit;
	height: 50px;
	border-left:4px solid #522A5C;
}

.catalog-item .selectable {
	width: inherit;
	height: 50px;
	border-left: 5px solid #DFC6E6;
	
}

.selectable:hover, .selected:hover{
	cursor: pointer;
	border-left:4px solid #522A5C;
}

.calendar {
	width: inherit;
	height: 250px;
	margin-top: 10px;
	background: #FFFFFF;
}	

.clustered-tags {
	width: inherit;
	height: 240px;
	margin-top: 10px;
	background: #FFFFFF;
}

.calendar .date{
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin: 0 auto;
	padding-top: 20px;
	width: 150px;
	color: #9F35FF;
}

.calendar table {
	text-align: center;	
	margin: 0 auto;
	width: 250px;
	margin-top: 20px;
}

.calendar tr {
	width: 36px;
	height: 30px;
	color: #aaaaaa;
	border-bottom:1px solid #eeeeee;
}

.calendar .today {
	background: #28004D;
	color: #FFFFFF;
}

.calendar .chosen {
	font-weight: bold;
	color: #28004D;
}

.clustered-tags .title {
	font-size: 20px;
	color: #28004D;
	width: inherit;
	margin-left: 10px;
}

.clustered-tags p {
	margin-top: 15px;
	margin-left: 10px;
	bottom: 0px;
	float: left;
	color: #28004D;
	height: 25px;
	text-align: left;
}

.clustered-tags .big {
	font-size: 30px;
	font-weight: bold;
} 

.clustered-tags .middle {
	font-size: 25px;
	font-weight: bold;
}

.clustered-tags .small {
	font-size: 14px;
	vertical-align:text-bottom;
}

.clustered-tags .vert-small {
	font-size: 12px;
	vertical-align:text-bottom;
}